<h1>Modifier un invité</h1>

<%= turbo_frame_tag "edit_form_#{@guest.id}" do %>
  <p class="text-2xl mb-4">👋 <%= t('rsvp.form.hello1') %> <span class="font-bold"><%= @guest.first_name %></span><%= t('rsvp.form.hello2') %></p>
  <%= simple_form_for @guest, html: { data: { update_guests_target: "form", lenis_prevent: "" }} do |guest_form| %>
    <%= guest_form.input :dinner_presence, as: :radio_buttons, collection: [:dinner_yes, :dinner_no] %>
    <%= guest_form.input :brunch_presence, as: :radio_buttons, collection: [:brunch_yes, :brunch_no] %>
    <%= guest_form.input :food_restriction, as: :radio_buttons, collection: [:no_restriction, :vegetarian, :pescetarian] %>
  <% end %>

  <%= link_to rsvp_path, data: { turbo_stream: true}, class: "inline-flex gap-2 px-8 py-3 rounded border border-primary-600 text-primary-600 bg-tertiary-50 transition-colors hover:bg-tertiary-100" do %>
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
      <path stroke-linecap="round" stroke-linejoin="round" d="M18 7.5v3m0 0v3m0-3h3m-3 0h-3m-2.25-4.125a3.375 3.375 0 1 1-6.75 0 3.375 3.375 0 0 1 6.75 0ZM3 19.235v-.11a6.375 6.375 0 0 1 12.75 0v.109A12.318 12.318 0 0 1 9.374 21c-2.331 0-4.512-.645-6.374-1.766Z" />
    </svg>
    <span><%= t('rsvp.form.new_guest_button') %></span>
  <% end %>
<% end %>
