<h1>Modifier un invité</h1>

<%= turbo_frame_tag "edit_form_#{@guest.id}" do %>
  <%= simple_form_for @guest do |guest_form| %>
    <%= guest_form.input :first_name, label: 'Prénom' %>
    <%= guest_form.input :last_name, label: 'Nom' %>
    <%= guest_form.input :email, label: 'Email' %>
    <%= guest_form.input :phone, label: 'Téléphone' %>
  <% end %>

  <%= link_to 'Ajouter un invité', rsvp_path, data: { turbo_stream: true} %>
<% end %>
