<section class="">
  <div class="container mx-auto px-4 py-12">
    <div class="text-center">
      <%= image_tag "icone-ceremonie.svg", class: "mx-auto mb-4" %>
      <h2 class="text-2xl uppercase font-bold text-gray-800 md:text-3xl">
        <%= t("home.ceremony.title") %>
      </h2>
      <p class="mt-4 mb-8 max-w-2xl mx-auto text-gray-800 text-lg md:text-xl">
        <%= t("home.ceremony.description") %>
      </p>
      <div class="mt-4 mx-auto grid grid-cols-[1fr_min-content_1fr] gap-4 items-center md:gap-16">
        <div class="justify-self-end">
          <p class="font-medium text-gray-600 text-xl md:text-3xl">15h00</p>
        </div>
        <div class="inline-block h-100 min-h-[1rem] w-px self-stretch bg-gray-500"></div>
        <%= link_to "https://maps.app.goo.gl/AiiifXHwdKRMW8ma8", target: "_blank", class: "decoration-gray-600 hover:underline" do %>
          <div class="justify-self-start text-left text-gray-600 text-lg md:text-xl">
            <p>Église Saint Martin</p>
            <p>24 Grand Rue</p>
            <p>33570 Montagne</p>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</section>

<section class="bg-tertiary-50">
  <div class="container mx-auto px-4 py-12">
    <div class="text-center">
      <%= image_tag "icone-cocktail.svg", class: "mx-auto mb-4" %>
      <h2 class="text-2xl uppercase font-bold text-gray-800 md:text-3xl">
        <%= t("home.cocktail.title") %>
      </h2>
      <p class="mt-4 mb-8 max-w-2xl mx-auto text-gray-800 text-lg md:text-xl">
        <%= t("home.cocktail.description") %>
      </p>
      <div class="mt-4 mx-auto grid grid-cols-[1fr_min-content_1fr] gap-4 items-center md:gap-16">
        <div class="justify-self-end">
          <p class="font-medium text-gray-600 text-xl md:text-3xl">17h00</p>
        </div>
        <div class="inline-block h-100 min-h-[1rem] w-px self-stretch bg-gray-500"></div>
        <%= link_to "https://maps.app.goo.gl/zsWwEX8tTtD8crZn6", target: "_blank", class: "decoration-gray-600 hover:underline" do %>
          <div class="justify-self-start text-left text-gray-600 text-lg md:text-xl">
            <p>Château Saint Georges</p>
            <p>5 route de Saint Émilion</p>
            <p>33570 Montagne</p>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</section>

<section class="">
  <div class="container mx-auto px-4 py-12">
    <div class="text-center">
      <%= image_tag "icone-diner.svg", class: "mx-auto mb-4" %>
      <h2 class="text-2xl uppercase font-bold text-gray-800 md:text-3xl">
        <%= t("home.dinner.title") %>
      </h2>
      <p class="mt-4 mb-8 max-w-2xl mx-auto text-gray-800 text-lg md:text-xl">
        <%= t("home.dinner.description") %>
      </p>
      <%= link_to rsvp_path, class: "group relative inline-block focus:outline-none" do %>
        <span class="absolute inset-0 translate-x-1.5 translate-y-1.5 rounded bg-primary-600 transition-transform group-hover:translate-x-0 group-hover:translate-y-0"></span>
        <span class="relative inline-block rounded border-2 border-primary-800 px-8 py-3 font-bold uppercase tracking-widest text-white group-active:text-opacity-75">
          <%= t("rsvp_button") %>
        </span>
      <% end %>
    </div>
  </div>
</section>

<section class="bg-tertiary-50">
  <div class="container mx-auto px-4 py-12">
    <div class="gap-8 items-center mx-auto max-w-screen-xl lg:grid lg:grid-cols-2">
      <div class="text-center">
        <%= image_tag "icone-brunch.svg", class: "mx-auto mb-4" %>
        <h2 class="text-2xl uppercase font-bold text-gray-800 md:text-3xl">
          <%= t("home.brunch.title") %>
        </h2>
        <p class="mt-4 mb-8 max-w-2xl mx-auto text-gray-800 text-lg md:text-xl">
          <%= t("home.brunch.description") %>
        </p>
        <div class="mt-4 mb-8 mx-auto grid grid-cols-[1fr_min-content_min-content_min-content_1fr] gap-4 items-center md:gap-8">
          <div class="justify-self-end">
            <p class="text-gray-600 text-lg md:text-xl">Dim. 10/08/25</p>
          </div>
          <div class="inline-block h-100 min-h-[1rem] w-px self-stretch bg-gray-500"></div>
          <div class="">
            <p class="font-medium text-gray-600 text-xl md:text-3xl">11h00</p>
          </div>
          <div class="inline-block h-100 min-h-[1rem] w-px self-stretch bg-gray-500"></div>
          <%= link_to "https://maps.app.goo.gl/zsWwEX8tTtD8crZn6", target: "_blank", class: "decoration-gray-600 hover:underline" do %>
            <div class="justify-self-start text-left text-gray-600 text-lg md:text-xl">
              <p>Château Saint Georges</p>
              <p>5 route de Saint Émilion</p>
              <p>33570 Montagne</p>
            </div>
          <% end %>
        </div>
        <%= link_to rsvp_path, class: "group relative inline-block focus:outline-none" do %>
          <span class="absolute inset-0 translate-x-1.5 translate-y-1.5 rounded bg-primary-600 transition-transform group-hover:translate-x-0 group-hover:translate-y-0"></span>
          <span class="relative inline-block rounded border-2 border-primary-800 px-8 py-3 font-bold uppercase tracking-widest text-white group-active:text-opacity-75">
            <%= t("rsvp_button") %>
          </span>
        <% end %>
      </div>
      <div class="grid grid-cols-2 gap-4 mt-8">
        <%= image_tag "breakfast", class: "w-full rounded-lg", alt: "Photo d'un petit déjeuner" %>
        <%= image_tag "birthday-cake", class: "mt-4 w-full lg:mt-10 rounded-lg", alt: "Photo d'un gâteau d'anniversaire" %>
      </div>
    </div>
  </div>
</section>

<section class="bg-secondary-400">
  <div class="container mx-auto px-4 py-12">
    <div class="text-center">
      <%= image_tag "icone-cadeau.svg", class: "mx-auto mb-4" %>
      <p class="mt-4 max-w-5xl mx-auto text-white text-lg md:text-xl">
        <%= t("home.gift.description") %>
      </p>
    </div>
  </div>
</section>
