<section class="">
  <div class="container mx-auto px-4 pt-12">
    <div class="text-center">
      <h1 class="text-4xl font-handwriting font-semibold lg:text-6xl">
        <%= t("infos.title") %>
      </h1>
    </div>
  </div>
</section>

<section id="bordeaux">
  <div class="mx-auto max-w-screen-xl px-4 py-8 md:px-8 md:py-16">
    <div class="grid grid-cols-1 gap-8 items-center md:grid-cols-2 md:gap-16">
      <div class="relative order-last md:order-first">
        <%= image_tag ("carte_france.svg"), class: "rounded-lg inset-0 h-full object-cover" %>
      </div>
      <div>
        <h2 class="text-3xl font-bold sm:text-4xl"><%= t("infos.bordeaux.title") %></h2>
        <div>
          <p class="mt-4 text-gray-800 font-bold flex items-center gap-2">
            <svg xmlns="http://www.w3.org/2000/svg" class="text-primary-600" fill="currentColor" height="18" width="18" viewBox="0 0 448 512"><path d="M96 0C43 0 0 43 0 96L0 352c0 48 35.2 87.7 81.1 94.9l-46 46C28.1 499.9 33.1 512 43 512l39.7 0c8.5 0 16.6-3.4 22.6-9.4L160 448l128 0 54.6 54.6c6 6 14.1 9.4 22.6 9.4l39.7 0c10 0 15-12.1 7.9-19.1l-46-46c46-7.1 81.1-46.9 81.1-94.9l0-256c0-53-43-96-96-96L96 0zM64 128c0-17.7 14.3-32 32-32l80 0c17.7 0 32 14.3 32 32l0 96c0 17.7-14.3 32-32 32l-80 0c-17.7 0-32-14.3-32-32l0-96zM272 96l80 0c17.7 0 32 14.3 32 32l0 96c0 17.7-14.3 32-32 32l-80 0c-17.7 0-32-14.3-32-32l0-96c0-17.7 14.3-32 32-32zM64 352a32 32 0 1 1 64 0 32 32 0 1 1 -64 0zm288-32a32 32 0 1 1 0 64 32 32 0 1 1 0-64z"/></svg>
            <span><%= t("infos.bordeaux.train.title") %></span>
          </p>
          <p class="mt-2 text-gray-800">
            <%= t("infos.bordeaux.train.description") %>
          </p>
        </div>
        <div>
          <p class="mt-4 font-bold flex items-center gap-2">
            <svg xmlns="http://www.w3.org/2000/svg" class="text-primary-600" fill="currentColor" height="18" width="18" viewBox="0 0 640 512"><path d="M171.3 96L224 96l0 96-112.7 0 30.4-75.9C146.5 104 158.2 96 171.3 96zM272 192l0-96 81.2 0c9.7 0 18.9 4.4 25 12l67.2 84L272 192zm256.2 1L428.2 68c-18.2-22.8-45.8-36-75-36L171.3 32c-39.3 0-74.6 23.9-89.1 60.3L40.6 196.4C16.8 205.8 0 228.9 0 256L0 368c0 17.7 14.3 32 32 32l33.3 0c7.6 45.4 47.1 80 94.7 80s87.1-34.6 94.7-80l130.7 0c7.6 45.4 47.1 80 94.7 80s87.1-34.6 94.7-80l33.3 0c17.7 0 32-14.3 32-32l0-48c0-65.2-48.8-119-111.8-127zM434.7 368a48 48 0 1 1 90.5 32 48 48 0 1 1 -90.5-32zM160 336a48 48 0 1 1 0 96 48 48 0 1 1 0-96z"/></svg>
            <span><%= t("infos.bordeaux.car.title") %></span>
          </p>
          <p class="mt-2 text-gray-800">
            <span><%= t("infos.bordeaux.car.description") %></span>
            <br><%= t("infos.bordeaux.car.paris") %>
            <br><%= t("infos.bordeaux.car.nantes") %>
            <br><%= t("infos.bordeaux.car.lyon") %>
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="mairie" class="bg-tertiary-50">
  <div class="mx-auto max-w-screen-xl px-4 py-8 md:px-8 md:py-16">
    <div class="grid grid-cols-1 gap-8 items-center md:grid-cols-2 md:gap-16">
      <div class="relative order-last">
        <%= image_tag ("mairie-bordeaux.webp"), class: "rounded-lg inset-0 h-full object-cover" %>
      </div>
      <div>
        <h2 class="text-3xl text-gray-800 font-bold sm:text-4xl"><%= t("infos.civil.title") %></h2>
        <div>
          <p class="mt-2 text-gray-800">
            <%= t("infos.civil.description") %>
          </p>
        </div>
        <div>
          <p class="mt-4 text-gray-800 font-bold flex items-center gap-2">
            <svg xmlns="http://www.w3.org/2000/svg" class="text-primary-600" fill="currentColor" height="18" width="18" viewBox="0 0 512 512"><path d="M256 0a256 256 0 1 1 0 512A256 256 0 1 1 256 0zM232 120l0 136c0 8 4 15.5 10.7 20l96 64c11 7.4 25.9 4.4 33.3-6.7s4.4-25.9-6.7-33.3L280 243.2 280 120c0-13.3-10.7-24-24-24s-24 10.7-24 24z"/></svg>
            <span><%= t("infos.civil.hour") %></span>
            <span class="font-normal">9h45</span>
          </p>
          <p class="mt-4 text-gray-800 font-bold flex items-center gap-2">
            <svg xmlns="http://www.w3.org/2000/svg" class="text-primary-600" fill="currentColor" height="18" width="18" viewBox="0 0 320 512"><path d="M16 144a144 144 0 1 1 288 0A144 144 0 1 1 16 144zM160 80c8.8 0 16-7.2 16-16s-7.2-16-16-16c-53 0-96 43-96 96c0 8.8 7.2 16 16 16s16-7.2 16-16c0-35.3 28.7-64 64-64zM128 480l0-162.9c10.4 1.9 21.1 2.9 32 2.9s21.6-1 32-2.9L192 480c0 17.7-14.3 32-32 32s-32-14.3-32-32z"/></svg>
            <span><%= t("infos.civil.address") %></span>
            <span class="font-normal">
              <%= link_to "Place Pey Berland 33000 Bordeaux", "https://maps.app.goo.gl/ZH95DibwBQr1QH5t7", target: "_blank", class: "text-gray-800 decoration-gray-600 hover:underline" %>
            </span>
          </p>
          </p>
          <p class="mt-4 text-gray-800 font-bold flex items-center gap-2">
            <svg xmlns="http://www.w3.org/2000/svg" class="text-primary-600" fill="currentColor" height="18" width="18" viewBox="0 0 448 512"><path d="M64 32C28.7 32 0 60.7 0 96L0 416c0 35.3 28.7 64 64 64l320 0c35.3 0 64-28.7 64-64l0-320c0-35.3-28.7-64-64-64L64 32zM192 256l48 0c17.7 0 32-14.3 32-32s-14.3-32-32-32l-48 0 0 64zm48 64l-48 0 0 32c0 17.7-14.3 32-32 32s-32-14.3-32-32l0-64 0-120c0-22.1 17.9-40 40-40l72 0c53 0 96 43 96 96s-43 96-96 96z"/></svg>
            <span>Parking :</span>
          </p>
          <p class="mt-2 text-gray-800"><span class="underline"><%= t("infos.civil.parking.street.title") %></span><%= t("infos.civil.parking.street.description") %></p>
          <p class="mt-2 text-gray-800"><span class="underline"><%= t("infos.civil.parking.underground.title") %></span><%= t("infos.civil.parking.underground.description") %></p>
          <p class="mt-4 text-gray-800 font-bold flex items-center gap-2">
            <svg xmlns="http://www.w3.org/2000/svg" class="text-primary-600" fill="currentColor" height="18" width="18" viewBox="0 0 448 512"><path d="M86.8 48c-12.2 0-23.6 5.5-31.2 15L42.7 79C34.5 89.3 19.4 91 9 82.7S-3 59.4 5.3 49L18 33C34.7 12.2 60 0 86.8 0L361.2 0c26.7 0 52 12.2 68.7 33l12.8 16c8.3 10.4 6.6 25.5-3.8 33.7s-25.5 6.6-33.7-3.7L392.5 63c-7.6-9.5-19.1-15-31.2-15L248 48l0 48 40 0c53 0 96 43 96 96l0 160c0 30.6-14.3 57.8-36.6 75.4l65.5 65.5c7.1 7.1 2.1 19.1-7.9 19.1l-39.7 0c-8.5 0-16.6-3.4-22.6-9.4L288 448l-128 0-54.6 54.6c-6 6-14.1 9.4-22.6 9.4L43 512c-10 0-15-12.1-7.9-19.1l65.5-65.5C78.3 409.8 64 382.6 64 352l0-160c0-53 43-96 96-96l40 0 0-48L86.8 48zM160 160c-17.7 0-32 14.3-32 32l0 32c0 17.7 14.3 32 32 32l128 0c17.7 0 32-14.3 32-32l0-32c0-17.7-14.3-32-32-32l-128 0zm32 192a32 32 0 1 0 -64 0 32 32 0 1 0 64 0zm96 32a32 32 0 1 0 0-64 32 32 0 1 0 0 64z"/></svg>
            <span><%= t("infos.civil.transport.title") %>
          </p>
          <p class="mt-2 text-gray-800">
            <%= t("infos.civil.transport.description") %>
            <%= link_to t("infos.civil.transport.link"), "https://www.infotbm.com/fr/lignes", target: "_blank", class: "text-gray-800 decoration-gray-600 hover:underline" %></p>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="eglise">
  <div class="mx-auto max-w-screen-xl px-4 py-8 md:px-8 md:py-16">
    <div class="grid grid-cols-1 gap-8 items-center md:grid-cols-2 md:gap-16">
      <div class="relative order-last md:order-first">
        <%= image_tag ("eglise-montagne.jpg"), class: "rounded-lg inset-0 h-full object-cover" %>
      </div>
      <div>
        <h2 class="text-3xl text-gray-800 font-bold sm:text-4xl"><%= t("infos.church.title") %></h2>
        <div>
          <p class="mt-2 text-gray-800">
            <%= t("infos.church.description") %>
          </p>
        </div>
        <div>
          <p class="mt-4 text-gray-800 font-bold flex items-center gap-2">
            <svg xmlns="http://www.w3.org/2000/svg" class="text-primary-600" fill="currentColor" height="18" width="18" viewBox="0 0 512 512"><path d="M256 0a256 256 0 1 1 0 512A256 256 0 1 1 256 0zM232 120l0 136c0 8 4 15.5 10.7 20l96 64c11 7.4 25.9 4.4 33.3-6.7s4.4-25.9-6.7-33.3L280 243.2 280 120c0-13.3-10.7-24-24-24s-24 10.7-24 24z"/></svg>
            <span><%= t("infos.church.hour") %></span>
            <span class="font-normal">14h30</span>
          </p>
          <p class="mt-4 text-gray-800 font-bold flex items-center gap-2">
            <svg xmlns="http://www.w3.org/2000/svg" class="text-primary-600" fill="currentColor" height="18" width="18" viewBox="0 0 320 512"><path d="M16 144a144 144 0 1 1 288 0A144 144 0 1 1 16 144zM160 80c8.8 0 16-7.2 16-16s-7.2-16-16-16c-53 0-96 43-96 96c0 8.8 7.2 16 16 16s16-7.2 16-16c0-35.3 28.7-64 64-64zM128 480l0-162.9c10.4 1.9 21.1 2.9 32 2.9s21.6-1 32-2.9L192 480c0 17.7-14.3 32-32 32s-32-14.3-32-32z"/></svg>
            <span><%= t("infos.church.address") %></span>
            <span class="font-normal">
              <%= link_to "24 Grand Rue 33570 Montagne", "https://maps.app.goo.gl/AiiifXHwdKRMW8ma8", target: "_blank", class: "text-gray-800 decoration-gray-600 hover:underline" %>
            </span>
          </p>
          <p class="mt-4 text-gray-800 font-bold flex items-center gap-2">
            <svg xmlns="http://www.w3.org/2000/svg" class="text-primary-600" fill="currentColor" height="18" width="18" viewBox="0 0 448 512"><path d="M64 32C28.7 32 0 60.7 0 96L0 416c0 35.3 28.7 64 64 64l320 0c35.3 0 64-28.7 64-64l0-320c0-35.3-28.7-64-64-64L64 32zM192 256l48 0c17.7 0 32-14.3 32-32s-14.3-32-32-32l-48 0 0 64zm48 64l-48 0 0 32c0 17.7-14.3 32-32 32s-32-14.3-32-32l0-64 0-120c0-22.1 17.9-40 40-40l72 0c53 0 96 43 96 96s-43 96-96 96z"/></svg>
            <span>Parking :</span>
          </p>
          <p class="mt-2 text-gray-800"><span class="underline"><%= t("infos.church.parking.front.title") %></span><%= t("infos.church.parking.front.description") %></p>
          <p class="mt-2 text-gray-800"><span class="underline"><%= t("infos.church.parking.around.title") %></span><%= t("infos.church.parking.around.description") %></p>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="reception">
  <div class="mx-auto max-w-screen-xl px-4 py-8 md:px-8 md:py-16">
    <div class="grid grid-cols-1 gap-8 items-center md:grid-cols-2 md:gap-16">
      <div class="relative order-last">
        <%= image_tag ("chateau-dessin.jpg"), class: "rounded-lg inset-0 h-full object-cover" %>
      </div>
      <div>
        <h2 class="text-3xl text-gray-800 font-bold sm:text-4xl">Réception au château Saint Georges</h2>
        <div>
          <p class="mt-2 text-gray-800">
            Le château Saint Georges se situe à quelques minutes en voiture ou à pied de l'église au milieu des vignes.
          </p>
        </div>
        <div>
          <p class="mt-4 text-gray-800 font-bold flex items-center gap-2">
            <svg xmlns="http://www.w3.org/2000/svg" class="text-primary-600" fill="currentColor" height="18" width="18" viewBox="0 0 512 512"><path d="M256 0a256 256 0 1 1 0 512A256 256 0 1 1 256 0zM232 120l0 136c0 8 4 15.5 10.7 20l96 64c11 7.4 25.9 4.4 33.3-6.7s4.4-25.9-6.7-33.3L280 243.2 280 120c0-13.3-10.7-24-24-24s-24 10.7-24 24z"/></svg>
            <span>Heure de début :</span>
            <span class="font-normal">17h00</span>
          </p>
          <p class="mt-4 text-gray-800 font-bold flex items-center gap-2">
            <svg xmlns="http://www.w3.org/2000/svg" class="text-primary-600" fill="currentColor" height="18" width="18" viewBox="0 0 320 512"><path d="M16 144a144 144 0 1 1 288 0A144 144 0 1 1 16 144zM160 80c8.8 0 16-7.2 16-16s-7.2-16-16-16c-53 0-96 43-96 96c0 8.8 7.2 16 16 16s16-7.2 16-16c0-35.3 28.7-64 64-64zM128 480l0-162.9c10.4 1.9 21.1 2.9 32 2.9s21.6-1 32-2.9L192 480c0 17.7-14.3 32-32 32s-32-14.3-32-32z"/></svg>
            <span>Adresse :</span>
            <span class="font-normal">
              <%= link_to "5 route de Saint Émilion 33570 Montagne", "https://maps.app.goo.gl/zsWwEX8tTtD8crZn6", target: "_blank", class: "text-gray-800 decoration-gray-600 hover:underline" %>
            </span>
          </p>
          <p class="mt-4 text-gray-800 font-bold flex items-center gap-2">
            <svg xmlns="http://www.w3.org/2000/svg" class="text-primary-600" fill="currentColor" height="18" width="18" viewBox="0 0 448 512"><path d="M64 32C28.7 32 0 60.7 0 96L0 416c0 35.3 28.7 64 64 64l320 0c35.3 0 64-28.7 64-64l0-320c0-35.3-28.7-64-64-64L64 32zM192 256l48 0c17.7 0 32-14.3 32-32s-14.3-32-32-32l-48 0 0 64zm48 64l-48 0 0 32c0 17.7-14.3 32-32 32s-32-14.3-32-32l0-64 0-120c0-22.1 17.9-40 40-40l72 0c53 0 96 43 96 96s-43 96-96 96z"/></svg>
            <span>Parking :</span>
          </p>
          <p class="mt-2 text-gray-800">Le parking se situe dans une allée entre les vignes sous les tilleuls à droite du château (il sera indiqué à votre arrivée).</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="hebergement" class="bg-tertiary-50">
  <div class="mx-auto max-w-screen-xl px-4 py-8 md:px-8 md:py-16">
    <div class="text-center">
      <h2 class="text-3xl text-gray-800 font-bold sm:text-4xl">Hébergements à proximité</h2>
      <p class="mt-2 max-w-4xl mx-auto text-gray-800">
        Voici quelques hébergements à côté du château Saint Georges pour vous aider à organiser votre séjour. Si vous souhaitez un hébergement plus personnel, nous vous laissons chercher des Airbnb ou autres par vous-mêmes.
      </p>
    </div>
    <div class="mt-8 grid grid-cols-1 md:grid-cols-3">
      <div class="w-full max-w-sm overflow-hidden bg-white rounded-lg shadow transition-all duration-300 hover:translate-y-[-0.5rem] hover:shadow-xl">
        <%= link_to "https://www.yellohvillage.fr/camping/yelloh_saint_emilion", target: "_blank", class: "block hover:scale-100" do %>
          <%= image_tag "yelloh_saint_emilion.jpg", class: "object-cover object-center w-full h-56" %>
          <div class="px-6 py-4">
            <p class="text-xl font-bold text-gray-800 ">Camping Yelloh! Saint Emilion</p>
            <p class="mt-2 text-gray-800">Un camping 4 étoiles avec piscine, lac, chalets et emplacements tente. Tout proche du château !</p>
            <div class="mt-4 space-y-2 text-gray-800">
              <p class="flex items-center gap-2">
                <svg xmlns="http://www.w3.org/2000/svg" class="text-primary-600" fill="currentColor" height="18" width="18" viewBox="0 0 640 512"><path d="M96 128a128 128 0 1 1 256 0A128 128 0 1 1 96 128zM0 482.3C0 383.8 79.8 304 178.3 304l91.4 0C368.2 304 448 383.8 448 482.3c0 16.4-13.3 29.7-29.7 29.7L29.7 512C13.3 512 0 498.7 0 482.3zM609.3 512l-137.8 0c5.4-9.4 8.6-20.3 8.6-32l0-8c0-60.7-27.1-115.2-69.8-151.8c2.4-.1 4.7-.2 7.1-.2l61.4 0C567.8 320 640 392.2 640 481.3c0 17-13.8 30.7-30.7 30.7zM432 256c-31 0-59-12.6-79.3-32.9C372.4 196.5 384 163.6 384 128c0-26.8-6.6-52.1-18.3-74.3C384.3 40.1 407.2 32 432 32c61.9 0 112 50.1 112 112s-50.1 112-112 112z"/></svg>
                Emplacements et chalets de 2 à 6 personnes
              </p>
              <p class="flex items-center gap-2">
                <svg xmlns="http://www.w3.org/2000/svg" class="text-primary-600" fill="currentColor" height="18" width="18" viewBox="0 0 320 512"><path d="M48.1 240c-.1 2.7-.1 5.3-.1 8l0 16c0 2.7 0 5.3 .1 8L32 272c-17.7 0-32 14.3-32 32s14.3 32 32 32l28.3 0C89.9 419.9 170 480 264 480l24 0c17.7 0 32-14.3 32-32s-14.3-32-32-32l-24 0c-57.9 0-108.2-32.4-133.9-80L256 336c17.7 0 32-14.3 32-32s-14.3-32-32-32l-143.8 0c-.1-2.6-.2-5.3-.2-8l0-16c0-2.7 .1-5.4 .2-8L256 240c17.7 0 32-14.3 32-32s-14.3-32-32-32l-125.9 0c25.7-47.6 76-80 133.9-80l24 0c17.7 0 32-14.3 32-32s-14.3-32-32-32l-24 0C170 32 89.9 92.1 60.3 176L32 176c-17.7 0-32 14.3-32 32s14.3 32 32 32l16.1 0z"/></svg>
                À partir de 35€ par nuitée
              </p>
              <p class="flex items-center gap-2">
                <svg xmlns="http://www.w3.org/2000/svg" class="text-primary-600" fill="currentColor" height="18" width="18" viewBox="0 0 320 512"><path d="M16 144a144 144 0 1 1 288 0A144 144 0 1 1 16 144zM160 80c8.8 0 16-7.2 16-16s-7.2-16-16-16c-53 0-96 43-96 96c0 8.8 7.2 16 16 16s16-7.2 16-16c0-35.3 28.7-64 64-64zM128 480l0-162.9c10.4 1.9 21.1 2.9 32 2.9s21.6-1 32-2.9L192 480c0 17.7-14.3 32-32 32s-32-14.3-32-32z"/></svg>
                4 minutes en voiture du château
              </p>
            </div>
          </div>
        <% end %>
      </div>
      <div class="w-full max-w-sm overflow-hidden bg-white rounded-lg shadow transition-all duration-300 hover:translate-y-[-0.5rem] hover:shadow-xl">
        <%= link_to "https://all.accor.com/hotel/8510/index.fr.shtml?", target: "_blank", class: "block hover:scale-100" do %>
          <%= image_tag "hotel-ibis.jpg", class: "object-cover object-center w-full h-56" %>
          <div class="px-6 py-4">
            <p class="text-xl font-bold text-gray-800 ">Ibis Bordeaux Saint Emilion</p>
            <p class="mt-2 text-gray-800">Un hôtel 3 étoiles avec petit-déjeuner, bar, restaurant et grande terrasse dans l'établissement</p>
            <div class="mt-4 space-y-2 text-gray-800">
              <p class="flex items-center gap-2">
                <svg xmlns="http://www.w3.org/2000/svg" class="text-primary-600" fill="currentColor" height="18" width="18" viewBox="0 0 640 512"><path d="M96 128a128 128 0 1 1 256 0A128 128 0 1 1 96 128zM0 482.3C0 383.8 79.8 304 178.3 304l91.4 0C368.2 304 448 383.8 448 482.3c0 16.4-13.3 29.7-29.7 29.7L29.7 512C13.3 512 0 498.7 0 482.3zM609.3 512l-137.8 0c5.4-9.4 8.6-20.3 8.6-32l0-8c0-60.7-27.1-115.2-69.8-151.8c2.4-.1 4.7-.2 7.1-.2l61.4 0C567.8 320 640 392.2 640 481.3c0 17-13.8 30.7-30.7 30.7zM432 256c-31 0-59-12.6-79.3-32.9C372.4 196.5 384 163.6 384 128c0-26.8-6.6-52.1-18.3-74.3C384.3 40.1 407.2 32 432 32c61.9 0 112 50.1 112 112s-50.1 112-112 112z"/></svg>
                Chambres de 2 à 4 personnes
              </p>
              <p class="flex items-center gap-2">
                <svg xmlns="http://www.w3.org/2000/svg" class="text-primary-600" fill="currentColor" height="18" width="18" viewBox="0 0 320 512"><path d="M48.1 240c-.1 2.7-.1 5.3-.1 8l0 16c0 2.7 0 5.3 .1 8L32 272c-17.7 0-32 14.3-32 32s14.3 32 32 32l28.3 0C89.9 419.9 170 480 264 480l24 0c17.7 0 32-14.3 32-32s-14.3-32-32-32l-24 0c-57.9 0-108.2-32.4-133.9-80L256 336c17.7 0 32-14.3 32-32s-14.3-32-32-32l-143.8 0c-.1-2.6-.2-5.3-.2-8l0-16c0-2.7 .1-5.4 .2-8L256 240c17.7 0 32-14.3 32-32s-14.3-32-32-32l-125.9 0c25.7-47.6 76-80 133.9-80l24 0c17.7 0 32-14.3 32-32s-14.3-32-32-32l-24 0C170 32 89.9 92.1 60.3 176L32 176c-17.7 0-32 14.3-32 32s14.3 32 32 32l16.1 0z"/></svg>
                À partir de 80€ par nuitée
              </p>
              <p class="flex items-center gap-2">
                <svg xmlns="http://www.w3.org/2000/svg" class="text-primary-600" fill="currentColor" height="18" width="18" viewBox="0 0 320 512"><path d="M16 144a144 144 0 1 1 288 0A144 144 0 1 1 16 144zM160 80c8.8 0 16-7.2 16-16s-7.2-16-16-16c-53 0-96 43-96 96c0 8.8 7.2 16 16 16s16-7.2 16-16c0-35.3 28.7-64 64-64zM128 480l0-162.9c10.4 1.9 21.1 2.9 32 2.9s21.6-1 32-2.9L192 480c0 17.7-14.3 32-32 32s-32-14.3-32-32z"/></svg>
                10 minutes en voiture du château
              </p>
            </div>
          </div>
        <% end %>
      </div>
      <div class="w-full max-w-sm overflow-hidden bg-white rounded-lg shadow transition-all duration-300 hover:translate-y-[-0.5rem] hover:shadow-xl">
        <%= link_to "https://www.aubergedelacommanderie.com/chambres/", target: "_blank", class: "block hover:scale-100" do %>
          <%= image_tag "hotel-saint-emilion.jpg", class: "object-cover object-center w-full h-56" %>
          <div class="px-6 py-4">
            <p class="text-xl font-bold text-gray-800 ">Auberge de la Commanderie</p>
            <p class="mt-2 text-gray-800">Une auberge dans le centre ville médiéval de Saint Emilion dans une ancienne maison templière</p>
            <div class="mt-4 space-y-2 text-gray-800">
              <p class="flex items-center gap-2">
                <svg xmlns="http://www.w3.org/2000/svg" class="text-primary-600" fill="currentColor" height="18" width="18" viewBox="0 0 640 512"><path d="M96 128a128 128 0 1 1 256 0A128 128 0 1 1 96 128zM0 482.3C0 383.8 79.8 304 178.3 304l91.4 0C368.2 304 448 383.8 448 482.3c0 16.4-13.3 29.7-29.7 29.7L29.7 512C13.3 512 0 498.7 0 482.3zM609.3 512l-137.8 0c5.4-9.4 8.6-20.3 8.6-32l0-8c0-60.7-27.1-115.2-69.8-151.8c2.4-.1 4.7-.2 7.1-.2l61.4 0C567.8 320 640 392.2 640 481.3c0 17-13.8 30.7-30.7 30.7zM432 256c-31 0-59-12.6-79.3-32.9C372.4 196.5 384 163.6 384 128c0-26.8-6.6-52.1-18.3-74.3C384.3 40.1 407.2 32 432 32c61.9 0 112 50.1 112 112s-50.1 112-112 112z"/></svg>
                Chambres de 2 à 5 personnes
              </p>
              <p class="flex items-center gap-2">
                <svg xmlns="http://www.w3.org/2000/svg" class="text-primary-600" fill="currentColor" height="18" width="18" viewBox="0 0 320 512"><path d="M48.1 240c-.1 2.7-.1 5.3-.1 8l0 16c0 2.7 0 5.3 .1 8L32 272c-17.7 0-32 14.3-32 32s14.3 32 32 32l28.3 0C89.9 419.9 170 480 264 480l24 0c17.7 0 32-14.3 32-32s-14.3-32-32-32l-24 0c-57.9 0-108.2-32.4-133.9-80L256 336c17.7 0 32-14.3 32-32s-14.3-32-32-32l-143.8 0c-.1-2.6-.2-5.3-.2-8l0-16c0-2.7 .1-5.4 .2-8L256 240c17.7 0 32-14.3 32-32s-14.3-32-32-32l-125.9 0c25.7-47.6 76-80 133.9-80l24 0c17.7 0 32-14.3 32-32s-14.3-32-32-32l-24 0C170 32 89.9 92.1 60.3 176L32 176c-17.7 0-32 14.3-32 32s14.3 32 32 32l16.1 0z"/></svg>
                À partir de 150€ par nuitée
              </p>
              <p class="flex items-center gap-2">
                <svg xmlns="http://www.w3.org/2000/svg" class="text-primary-600" fill="currentColor" height="18" width="18" viewBox="0 0 320 512"><path d="M16 144a144 144 0 1 1 288 0A144 144 0 1 1 16 144zM160 80c8.8 0 16-7.2 16-16s-7.2-16-16-16c-53 0-96 43-96 96c0 8.8 7.2 16 16 16s16-7.2 16-16c0-35.3 28.7-64 64-64zM128 480l0-162.9c10.4 1.9 21.1 2.9 32 2.9s21.6-1 32-2.9L192 480c0 17.7-14.3 32-32 32s-32-14.3-32-32z"/></svg>
                10 minutes en voiture du château
              </p>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</section>
